:root {
    --background-color: #f4f4f4;
    --primary-color: #333;
    --secondary-color: #444;
    --text-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background: var(--primary-color);
    color: var(--text-color);
    padding: 1em 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background: var(--secondary-color);
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 5px 10px;
    background: var(--primary-color);
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background: #555;
}

main {
    padding: 2em;
    text-align: center;
    padding-bottom: 50px;
}

footer {
    background: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}